extends layout

block content
  #container
    if task
    h2= task.title
    blockquote
      p= task.description ? task.description : "у задания нет описания :("
      footer= task.authorName ? task.authorName : "Автор спрятан"

    .panel.panel-info
      .panel-heading
        a(data-toggle="collapse" href="#collapse1") Тесты
      .panel-collapse(id="collapse1")
        .panel-body
            table.table.table-striped
             thead: tr
               th №
               th Входные данные
               th Результат
             tbody
               each test, i in task.tests
                 tr
                  td= i+1
                  td= test.in
                  td= test.out

    .panel.panel-info
      .panel-heading Выбор языка программирования
      .panel-body
          each lang in langs
            .radio
                label
                  input(type="radio", name="langs", value=lang.lang)
                  |  #{lang.lang}

    textarea.form-control(id='code' placeholder="Ваш код ..."  rows='10')

    button.btn.btn-primary(style='margin-top:20px; margin-bottom:20px; box-shadow: 1px 2px 5px #000000;' id='send') Отправить решение

    .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog.wide-modal
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.myModalLabel.modal-title
            | #{title}
          .modal-body
              #container(style="width:90%; height:400px;")
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Close

  script(type='text/javascript').
    $(document).ready(function()
    {
      $("input[name=langs][value='#{langs[3].lang}']").prop('checked', true);
      $('#send').click(function() {
        var code = $('#code').val();
        var _lang = $('input[name=langs]:checked').val();
        console.log('lang: '+ _lang);
        if (code && _lang)
        {
          HoldOn.open({"message": "Отправка решение"});
          var solution = { lang: _lang,
                           code: code};
          $.ajax({
            type: 'PUT',
            url: '/task/solution',
            data: JSON.stringify({ taskID: #{task.id}, solution: solution }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
          }).done(function(result) {
            HoldOn.close();
            if (result.status == 'success')
            {
              var _title = "Успех";
              var _type = BootstrapDialog.TYPE_SUCCESS;
            }
            else {
              var _title = "Ошибка";
              var _type = BootstrapDialog.TYPE_DANGER;
            }
            var successDialog = BootstrapDialog.show({
              type: _type,
              title: _title,
              message: result.message,
              action: setTimeout( function(){
                          successDialog.close();
                      }, 50000)
                  });

            console.log(result);
          });
        }
        else {
          var errorDialog = BootstrapDialog.show({
            type: BootstrapDialog.TYPE_WARNING,
            title: "Ошибка",
            message: "Введите решение",
            action: setTimeout( function(){
                        errorDialog.close();
                    }, 2000)
                });
        }
      });
    });
